.NavTiles {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
}

.Tile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.MargBottom {
    margin-bottom: 20px;
}

.Tile:nth-child(1) {
    background: url('../../../assets/images/face.jpg');
}

.Tile:nth-child(2) {
    background: url('../../../assets/images/horse.jpg');
}

.Tile:nth-child(3) {
    background: url('../../../assets/images/hat.jpg');
}

.Bg {
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.Bg:hover {
    background: rgba(0,0,0,.3);
}

.Bg > h2 {
    color: white;
    margin: 0;
    text-align: center;
}
