header {
    width: 100vw;
    height: 80px;
    padding: 0 20px;
    background: #278;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    width: 60px;
}

header ul {
    display: flex;
}

header li {
    margin-left: 40px;
}

header li > a:hover {
    color: rgb(228, 197, 140);
}

header li > a {
    color: white;
    text-decoration: none;
}

.Active {
    color: orange;
}