.Home {
    width: 400px;
    background: rgba(34, 119, 136,.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.HomeForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.HomeForm input:nth-of-type(2) {
    margin-top: 10px;
}

.ShowPassword {
    cursor: pointer;
}

.Invalid {
    border: 2px solid darkred;
}

.InvalidText {
    color: darkred;
}
