.Jokes {
    width: 300px;
    height: 500px;
    padding: 20px;
    background: white;
    border: 1px solid #278;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.Title {
    text-align: center;
    border-bottom: 1px solid #278;
}

.JokesForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JokesForm button {
    margin-top: 20px;
}

.Results {
    overflow: scroll;
}

.List {
    display: block;
    margin: 0;
    padding: 0;
}

.List > li {
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.List > li:hover {
    color: orange;
}