.Categories {
    width: 300px;
    display: block;
    cursor: pointer;
    z-index: 1;
    box-sizing: border-box;
    padding: 20px;
    background: white;
    border: 1px solid #278;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.Categories > li {
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 8px 0;
    padding: 0 0 8px 0;
    color: black;
    border-bottom: 1px solid #278;
}

.Categories > li:hover {
    color: orange;
}