li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    width: 80px;
    height: 30px;
}

input {
    height: 30px;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}

body {
    background: rgb(249, 251, 252);
}